@import "./../../../../styles/pxToRem";
@import "./../../../../styles/media";

.wrapper {
  padding: rem(32px) rem(56px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(56px);
  border-radius: rem(30px);
  background-image: linear-gradient(135.78deg, #FFFFFF 33.22%, rgba(255, 255, 255, 0.24) 98.34%);

  &:not(:last-child) {
    margin-bottom: rem(56px);

    @include tablet-m {
      margin-bottom: rem(40px);
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include tablet-m {
      flex-direction: column-reverse;
    }
  }

  @include tablet-m {
    gap: rem(20px);
    padding: rem(24px) rem(37px);
    flex-direction: column-reverse;
  }

}

.content {
  width: 50%;
  max-width: rem(530px);

  @include tablet-m {
    width: 100%;
    max-width: 100%;
  }
}

.title {
  margin-bottom: rem(16px);
  font-size: rem(32px);
  font-weight: 700;
  line-height: rem(39px);
  color: var(--color-nav-title-hover);

  @include tablet-l {
    font-size: rem(24px);
    line-height: rem(32px);
  }

  @include mobile-l {
    margin-bottom: rem(20px);
    font-size: rem(22px);
    line-height: rem(32px);
  }
}

.description {;
  font-size: rem(16px);
  font-weight: 500;
  line-height: 24px;
  color: var(--color-nav-title-hover);


  @include tablet-m {
    font-size: rem(17px);
    line-height: rem(22px);
  }
}

.image {
  width: rem(532px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    display: block;
    padding-top: 62.96%;
  }

  @include tablet-m {
    max-width: 40%;
  }

  @include tablet-m {
    max-width: 70%;
    width: 70%;
  }

  @include mobile-m {
    max-width: 100%;
    width: 100%;
  }
}

.image__container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}