@import "./../../styles/pxToRem";
@import "./../../styles/media";

.wrapper {
  margin: 0 auto;
  height: 100%;
  display: none;

  @include tablet-l {
    display: block;
  }

  @include tablet-m {
    display: none;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-inline-end: rem(32px);
  }
}

.link {
  padding: 0 rem(4px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  color: var(--color-nav-title-hover);
}
