:root {
  --color-nav-title: rgb(84, 95, 126);
  --color-dropdown-title: rgb(84, 95, 126);
  --color-dropdown-title-hover: rgb(37, 46, 72);
  --color-dropdown-title-bg: rgb(238, 245, 255);
  --color-dropdown-title-bg-hover: rgb(207, 224, 255);
}

//:root {
//  --tablet-xxl: 1025px;
//}
