@import "./../styles/pxToRem";
@import "./../styles/media";

.main {
  width: 100%;
}


.wrapper {
  margin: 0 auto;
  padding: rem(72px) rem(30px) rem(135px);
  max-width: rem(1856px);
  position: relative;
  z-index: 1;
  background-color: var(--color-main-bg);

  @include tablet-m {
    padding: rem(72px) rem(22px) rem(112px);
  }

  @include tablet-m {
    padding: rem(72px) rem(18px) rem(88px);
  }

  @include mobile-m {
    padding: rem(72px) 0 rem(88px)
  }
}
