@import "./../styles/pxToRem";

.main {
  width: 100%;
}


.wrapper {
  margin: 0 auto;
  padding: rem(72px) rem(30px) rem(135px);
  max-width: rem(1856px);
  position: relative;
  z-index: 1;
  background-color: var(--color-main-bg);
}
