@import "./../../styles/pxToRem";
@import "./../../styles/media";

.wrapper {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  height: rem(72px);
  background-color: var(--color-neutral);
  z-index: 3;

  @include tablet-l {
    box-shadow: 0 rem(6px) rem(6px) rgba(0, 82, 224, .1);
  }
}

.container {
  margin: 0 auto;
  padding: 0 rem(30px);
  max-width: rem(1699px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-inline-end: rem(25px);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: rem(4px);
    width: rem(183px);
    height: rem(48px);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;

    @include desktop-l {
      width: rem(39px);
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      path:last-of-type {

        @include desktop-l {
          display: none;
        }
      }
    }
  }
}

.menuToggler {
  display: none;
  align-items: center;
  justify-content: center;

  @include tablet-l {
    display: flex;
  }
}

.menuToggle {
  position: relative;
  border: none;
  background: transparent;
  width: rem(49px);
  height: rem(49px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: rem(10px);

  &.expanded {
    .line {
      top: rem(16px);

      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  .line {
    display: block;
    height: 3px;
    width: rem(32px);
    background: var(--color-burger-menu);
    transition: all 0.3s ease;
    position: absolute;
    border-radius: 4px;
    transform: rotate(0deg);

    &:first-child {
      top: rem(10px);

      @include tablet-m {
        top: rem(9px);
      }
    }

    &:last-child {
      top: rem(27px);
    }
  }
}

.menuShape {
  background-image: var(--color-dropdown-title-hover-4);
  backdrop-filter: blur(2px);
  position: fixed;
  top: rem(72px);
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
}

.menuClose {
  position: fixed;
  inset: 0;
  z-index: 2;
}





