@import "./../../styles/pxToRem";
@import "./../../styles/media";

.wrapper {
  margin-top: rem(48px);
  padding: rem(56px) rem(171px);
  background-color: var(--color-feature-bg);
  border-radius: rem(32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include desktop-l {
    padding: rem(56px) rem(112px);
  }

  @include desktop-m {
    padding: rem(56px) rem(84px);
  }

  @include tablet-l {
    padding: rem(48px) rem(56px);
  }

  @include mobile-l {
    padding: rem(50px) rem(20px);
  }
}

.title {
  max-width: rem(900px);
  font-size: rem(36px);
  font-weight: 700;
  line-height: rem(43.88px);
  text-align: center;
  color: var(--color-nav-title-hover);

  @include tablet-l {
    font-size: rem(28px);
    line-height: rem(36px);
  }

  @include tablet-m {
    font-size: rem(30px);
  }
}

.cards {
  margin-top: rem(56px);
}